
<h1 style="margin-top: 30px;margin-bottom: 30px; text-align: center;">Demo Table</h1>

<div id="ngxdatatable">
    <!--Search Filter-->
    <div id="listTbl_filter" class="dataTables_filter">
        <input type="text" placeholder="Search..." (keyup)="updateFilter($event)">
    </div>
    <div id="eventscsummary">
        <ngx-datatable
            #table
            class="material"
            [rows]="mDash.rows"
            [selectionType]="'checkbox'"
            (select)='onSelect($event)'
            [headerHeight]="'auto'"
            [footerHeight]="'auto'"
            [rowHeight]="'auto'"
            [reorderable]="false"
            [sorts]="[]"
            [limit] = "10"
            >

            <ngx-datatable-column name="Title" prop="title">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <a href="JAVASCRIPT:void(0)" (click)="renderRawJson(row, $event)">
                        <strong>{{value}}</strong>
                    </a>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="URL" prop="url">
                <ng-template let-value="value" ngx-datatable-cell-template>
                    <strong>{{value}}</strong>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Created At" prop="created_at">
                <ng-template let-value="value" ngx-datatable-cell-template>
                    <strong>{{value}}</strong>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Auther" prop="author">
                <ng-template let-value="value" ngx-datatable-cell-template>
                    <strong>{{value}}</strong>
                </ng-template>
            </ngx-datatable-column>

            <!--data table footer-->
            <ngx-datatable-footer>
                <ng-template
                    ngx-datatable-footer-template
                    let-rowCount="rowCount"
                    let-pageSize="pageSize"
                    let-selectedCount="selectedCount"
                    let-curPage="curPage"
                    let-offset="10"
                    >
                    <div>
                        <!-- table records dropdown starts-->
                        <div class="selrecords">
                            <select (change)="onLimitChange($event.target.value)">
                                <option
                                    *ngFor="let option of mDash.pagelength"
                                    [value]="option"
                                    [selected]="option == mDash.cTblPage"
                                    >
                                    {{ option }}
                            </option>
                        </select>
                    </div>

                    <div class="page-count">{{rowCount}} records found.</div>
                    <datatable-pager
                        [pagerLeftArrowIcon] ="'datatable-icon-left'"
                        [pagerRightArrowIcon] ="'datatable-icon-right'"
                        [pagerPreviousIcon] ="'datatable-icon-prev'"
                        [pagerNextIcon] ="'datatable-icon-skip'"
                        [hidden]="!((rowCount / pageSize) > 1)"
                        [page]="curPage"
                        [size]="pageSize"
                        [count]="rowCount"
                        (change)="table.onFooterPage($event)">
                </datatable-pager>
            </div>
        </ng-template>
    </ngx-datatable-footer>
</ngx-datatable>
</div>
</div>

<!------------------- Modal Window Start --------------------->
<ng-template ngbModalContainer #modalBox let-c="close" let-d="dismiss">
             <div class="modalBox" (click)='toggle($event)'>
        <div class="modal-header">
            <!---------- Close Icon --------->
            <span class="close" aria-label="Close" (click)="d('Cross click')">X</span>
        </div>
        <!---------- This div is for Content --------->
        <div class="modal-body">
            <h4>Raw JSON Data</h4>
            <p class="msg-heading"> {{msg | json}}</p>
        </div>
    </div>
</ng-template>
<!------------------- Modal Window End --------------------->